.flying-wizard {
    animation: flyAround 2s ease infinite;
    display: block;
}

.flying-wizard__outline {
    fill: #010101;
}

.flying-wizard__clothes {
    fill: #9d9ea1;
}

.flying-wizard__skin {
    fill: #fff;
}

.flying-wizard__power {
    fill: #ef5798;
}

@keyframes flyAround {
    0% {
        transform: translateX(100px) translateY(0);
    }
    50% {
        transform: translateY(200px);
    }
    100% {
        transform: translateX(100px);
    }
}