.wizard {
    display: block;
}

.wizard__outline {
    fill: #010101;
}

.wizard__clothes {
    fill: #9d9ea1;
}

.wizard__skin {
    fill: #fff;
}

.wizard__power {
    fill: #ef5798;
}
.wizard {
    display: block;
}

.wizard:hover .wizard__outline {
    fill: #010101;
}

.wizard:hover .wizard__clothes {
    fill: #42b426;
}

.wizard:hover .wizard__skin {
    fill: #ef5798;
}

.wizard:hover .wizard__power {
    fill: #e5ef57;
}
